/* large devices ( desktops, less than 1200px) */
@media (max-width: 1024px) {
  #about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-bottom: 50px;
    background-color: skyblue;
  }

  #home {
    margin: 0px 20px;
  }

  img {
    width: 400px;
    height: 400px;
  }
}

/* medium devices ( tablets, less than 992px) */
@media (max-width: 992px) {

  #home {
    margin: 0px 20px;
    }
     img {
      width: 400px;
      height: 400px;
    }

  #about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-bottom: 50px;
    background-color: skyblue;
  }
  
  .intro {
    margin-top: 0;
    width: 800px;
}

#cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 0px 20px;
}

#cv p {
  font-size: 1.5rem;
  text-align: center;
}

}

/* Small devices (Landscape phones, less than 768px) */
@media (max-width: 768px) {
  #pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  #pic img {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    border-radius: 20px;
  }
  .intro {
    margin-top: 50px;
    width: 100%;
  }
  .intro h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .intro p {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* X-small devices, less than 576px */
@media (max-width: 576px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px 0px;
  }
  
  nav ul li {
    padding: 10px;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
    padding: 8px 25px;
  }
  
  #pic {
    padding: 4px;
  }

  #pic img {
    width: 100%;
    height: 100%;
    padding-right: 0;
  }
  
  #about {
    margin-bottom: 10px;
  }

  #about img {
    margin-right: 0;
  }

  .intro {
    margin-left: 0;
  }

  #skills {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .row {
    display: flex;
    justify-content: center;
  }
  
  .box {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: justify;
    padding: 20px 10px;
  }

  #contact h3 {
    width: 100%;
    text-align: center;
  }

  #contact {
    padding: 30px 20px;
  }

  #contact form {
    width: 300px;
  }

  #home {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    align-items: center;
  }
  
  #home div h1 {
    font-size: 1.5rem;
  }

  img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }
}
