*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Persona Start*/
.persona {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold
}
.persona:hover {
  cursor: pointer;
}
/* End of persona */
/* Nav bar */
nav {
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
nav ul li{
 font-size: 1.1rem;
 font-weight: bold;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 25px;
}

nav ul li a:hover {
  background-color: black;
  border-radius: 4px;
  transition: 0.25s;
}
/* Nav bar end */

/* Home section */
#home {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 0px 120px;
  align-items: center;
}

#home div {
  width: 100%;
}

#home div h1 {
  font-size: 2.5rem;
}

#home div p {
  font-size: 1.2rem;
}

img {
  width: 480px;
  height: 480px;
  background-color: skyblue;
  border-radius: 50%;
}
/* Home section end */

/* sub=Hero section  */
#sub-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* End of Sub=Hero section */

/* About section */
#about {
  display: flex;
  flex-direction: column;
  padding: 20px 130px;
  background-color: skyblue;
}

.heading {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0px;
}

#pic {
  display: flex;
  padding: 20px;
}
#pic img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  border-radius: 20px;
}
.intro {
  margin-top: 20px;
  width: 700px;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
}
/* End of About section */
/* Skills section */
#skills {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  background-color:  skyblue;
  color: white;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100%;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 15px;
  border-radius: 15px;
}

.box:hover {
  background-color: rgb(95, 174, 206);
  color: white;
  border: none;
  transition: 0.25s;
}
 
.icon {
  width: 60px;
  height: 60px;
  background-color: skyblue;
}
.icon:hover {
 background-color: black;
}

.row .box p {
  font-size: 1.1rem;
}
/* End of skills section */
/* CV section */
#cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#cv p {
  font-size: 1.5rem;
}
#cv button{
  background-color: black;
  color: white;
  padding: 10px 12px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#cv button:hover {
  background-color: rgb(95, 174, 206);
  transition: 0.25s;
}
#cv button a {
  color: white;
  text-decoration: none;
}
/* End of CV section */
/* Contact section */
#contact {
  background-color: skyblue;
  margin-top: 60px;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#contact h3 {
  width: 400px;
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}
#contact form label {
  font-size: 18px;
}

#contact form input,
#contact form textarea {
  padding: 10px 12px;
  border: orange;
  border-radius: 4px;
}

#contact button {
  background-color: black;
  color: white;
  padding: 10px 12px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

#contact button:hover {
  background-color: rgb(95, 174, 206);
  transition: 0.25s;
}

.social {
  display: flex;
  gap: 60px;
}

